.Background {
	background-image: url('./gn2-59-swamp.jpg');
	background-position: center;
	background-size: cover;
	display: grid;
	place-items: center;
}

.Screen {
	composes: Screen from global;
	background: black;
	opacity: 0.5;
}

.LogoContainer {
	display: grid;
	text-align: center;
	z-index: 1;
}
